App\Hrm\Identity\Account\Model\Account:
    type: entity
    table: account
    repositoryClass: App\Hrm\IdentityBundle\Repository\DoctrineAccountRepository
    uniqueConstraints:
        uk_account_email:
            columns: [ email ]
    id:
        id:
            type: string
    fields:
        profileId:
            type: string
        email:
            type: string
            length: 180
            unique: true
        passwordHash:
            type: string
            length: 256
        roles:
            type: simple_array
        createdAt:
            type: datetime_immutable
    oneToOne:
        profile:
            targetEntity: App\Hrm\Identity\Profile\Model\Profile
            cascade: [ persist, remove ]
            joinColumn:
                name: profile_id
                referencedColumnName: id
                nullable: false
                onDelete: CASCADE
                onPersist: CASCADE
