{% extends '@HrmCommon/inner_main.html.twig' %}

{% trans_default_domain 'HrmCompanyBundle' %}

{% block title %}{{ 'MANAGEMENT.TITLE.MANAGEMENT_COMPANY'|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="card card-default">
                <div class="card-header card-header-divider">
                    {{ 'HEADER.CREATE_COMPANY'|trans }}
                </div>
                <div class="card-body">
                    {{ form(createCompanyForm) }}
                </div>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
{% endblock %}