services:
    
    # Controller
    App\Hrm\IdentityBundle\Controller\:
        autowire: true
        resource: '../../Controller'
        tags: ['controller.service_arguments']

    # Repository
    App\Hrm\Identity\Domain\Model\Account\AccountRepository: '@App\Hrm\IdentityBundle\Repository\Account\DoctrineAccountRepository'
    App\Hrm\IdentityBundle\Repository\Account\DoctrineAccountRepository:
        factory: ['@doctrine', getRepository]
        arguments:
            - App\Hrm\Identity\Domain\Model\Account\Account