services:

    _defaults:
        autowire: true
        autoconfigure: true


    # Controller

    App\Hrm\IdentityBundle\Controller\:
        autowire: true
        resource: '../../Controller'
        tags: ['controller.service_arguments']


    # Facade

    App\Hrm\Identity\Account\Facade\CreateFacade: ~


    # Service

    App\Hrm\IdentityBundle\Service\SymfonyHashPasswordService: ~
    App\Hrm\Identity\Account\Service\HashPasswordService: '@App\Hrm\IdentityBundle\Service\SymfonyHashPasswordService'
    

    # Repository

    App\Hrm\Identity\Account\Repository\AccountRepository: '@App\Hrm\IdentityBundle\Repository\DoctrineAccountRepository'
    App\Hrm\IdentityBundle\Repository\DoctrineAccountRepository:
        factory: ['@doctrine', getRepository]
        arguments:
            - App\Hrm\Identity\Account\Model\Account

    App\Hrm\Identity\Profile\Repository\ProfileRepository: '@App\Hrm\IdentityBundle\Repository\DoctrineProfileRepository'
    App\Hrm\IdentityBundle\Repository\DoctrineProfileRepository:
        factory: ['@doctrine', getRepository]
        arguments:
            - App\Hrm\Identity\Profile\Model\Profile

    App\Hrm\Identity\Profile\Repository\ContactRepository: '@App\Hrm\IdentityBundle\Repository\DoctrineContactRepository'
    App\Hrm\IdentityBundle\Repository\DoctrineContactRepository:
        factory: ['@doctrine', getRepository]
        arguments:
            - App\Hrm\Identity\Profile\Model\Contact
