services:

    # Repository
    App\Hrm\Identity\Domain\Model\Account\AccountRepository: '@App\Hrm\IdentityBundle\Repository\DoctrineAccountRepository'
    App\Hrm\IdentityBundle\Repository\DoctrineAccountRepository:
        factory: ['@doctrine', getRepository]
        arguments:
            - App\Hrm\Identity\Domain\Model\Account\Account